INFLUX_ADMIN_USER=admin
INFLUX_ADMIN_PASSWORD=changeme
INFLUX_ORG=solar
INFLUX_BUCKET=solar_logging
INFLUX_TOKEN=changeme-generate-a-random-token
GRAFANA_ADMIN_PASSWORD=changeme
INVERTER_HOST=192.168.1.2
INVERTER_PORT=1502
NUT_TELEGRAF_PASSWORD=changeme-generate-a-random-password
